<div class="row"><h2>About MOSH</h2>

  <p>MOSH, the McCarthy Online Support Hub, is a Rails application created for the faculty and staff of the Dept of CS/IT at AASU. It automates common department tasks that were previously handled manually through paper and email chains.</p>i

</div>
