<%= render 'shared/progress', page: 'poster' %>
<h1>New poster</h1>
<%= render 'form' %>

<%= link_to 'Back', @job, class: 'btn btn-info' %>
<%= link_to 'Delete Job', @job, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' }, class: 'btn btn-danger' %>
