<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workstation_type.name %>
</p>


<%= link_to 'Edit', edit_workstation_type_path(@workstation_type) %> |
<%= link_to 'Back', workstation_types_path %>
