<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Poster Job #<%= @job_id %> is complete!</h1>
    <p>Yay!</p>
  </body>
</html>
