<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Poster Mounting Request, due <%= @date %> </h1>
    <p>
      The following user requested poster mounting services: <%= @email %>
    </p>
    <p>Please email them to get poster delivery specifics and payment details. Poster mounting is $5 for TechFest posters, and $10 for other posters.</p>
    <p>
      Poster Title: <%= @title %>
    </p>
    <p>
      Poster Url: <%= @url %>
    <p>
    <p>DFTBA!</p>
  </body>
</html>
