<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="nav nav-pills thumbnails">
        <li id="step1"><a href="#">
          <h4 class="list-group-item-heading">Step 1</h4>
          <p class="list-group-item-text">Create a New Job</p>
        </a></li>
        <li id="step2"><a href="#">
          <h4 class="list-group-item-heading">Step 2</h4>
          <p class="list-group-item-text">Confirm Job</p>
        </a></li>
        <li id="step3"><a href="#">
          <h4 class="list-group-item-heading">Step 3</h4>
          <p class="list-group-item-text">Add a Poster</p>
        </a></li>
        <li id="step4"><a href="#">
          <h4 class="list-group-item-heading">Step 4</h4>
          <p class="list-group-item-text">Preview/Confirm Poster</p>
        </a></li>
      </ul>
    </div>
  </div>
</div>
