<div class="progress-container">
  <div class="row">
    <div class="span10 offset1">
      <ol>
        <li class="step">
        <p>Create a job</p>
        </li>
        <li class="arrow">
        <i class="fa fa-long-arrow-right"></i>
        </li>
        <li class="step">
        <p>View job details</p>
        </li>
        <li class="arrow">
        <i class="fa fa-long-arrow-right"></i>
        </li>
        <li class="step">
        <p>Add a poster</p>
        </li>
        <li class="arrow">
        <i class="fa fa-arrows-h"></i>
        </li>
        <li class="step">
        <p>Save poster</p>
        </li>
      </ol>
    </div>
  </div>
</div>
