<div class="progress-container">
  <div class="row">
    <div class="span8 offset2">
      <ol>
        <li class="step <%= active_page?(page, 'create') %>">
        <p>Create a job</p>
        </li>
        <li class="arrow">
        <i class="fa fa-long-arrow-right"></i>
        </li>
        <li class="step <%= active_page?(page, 'review') %>">
        <p>View job details</p>
        </li>
        <li class="arrow">
        <i class="fa fa-arrows-h"></i>
        </li>
        <li class="step <%= active_page?(page, 'poster') %>">
        <p>Add a poster</p>
        </li>
      </ol>
    </div>
  </div>
</div>
