<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hardware_status.name %>
</p>


<%= link_to 'Edit', edit_hardware_status_path(@hardware_status) %> |
<%= link_to 'Back', hardware_statuses_path %>
