@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  height: 150px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.9em;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h4 {
  color: $grayLight;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul {
  list-style-type: none;
}

/* Home/Welcome Page hero unit */

#welcome {
  h1 {
    font-size: 4em;
    margin-top: 37px;
    margin-left: 61px;
  }
}

/* Job.show buttons */

.job-actions {
  padding-bottom: 10px;
}

.denial-reason {
  height: 200px;
  width: 500px;
}

/* Inventory view */

#select-btn {
  margin-left: 4px;
}


/* Inventory -> Location -> Workstation accordion */

#accordion2 {
  li {
    padding-top: 10px;
  }
}

/* Posters.show */

#preview_doc {
  iframe {
    display: block;
    width: 90%;
    height: 400px;
    margin: auto;
    border-style: ridge;
  }
  padding-bottom: 20px;
}

#poster_directions {
  margin-bottom: 20px;
}

/* job/poster progress */

.progress-container {

  padding-top: 20px;

  ol {
    list-style: none;
    li {
      display: inline-block;
    }
  }

  .step {
    border-radius: 50%;
    background-color: #2f96b4;
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: center;
    float: left;
    border-style: double;
    border-color: white;
    border-width: 6px;
  }

  .arrow {
    font-size: 45px;
    height: 120px;
    width: 60px;
    float: left;
    margin-top: 38px;
    margin-left: 15px;
    color: $gray;
  }

  .active {
    background-color: $orange;
  }

  p {
    color: $white;
    font-size: 16px;
    font-family: helvetica;
    margin-top: 43px;
  }
}

/* Users index */

.new-user-button {
  padding-bottom: 10px;
}

/* After Hours Access Index */

.add-access-button {
  margin-left: 364px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* password/edit page */

.reset-password-link {
  padding-top: 8px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
