<div class="row">
  <div class="span12">
    <footer class="footer">
      <div class="span2">
        <%= link_to image_tag("MOSH.gif", alt: "MOSH") %>
      </div>
      <div class="span3 pull-right">
        <small>
          See a bug? Email <%= mail_to 'mosh.system@gmail.com', 'Mosh Admin' %>
      </small>
    </div>
  </footer>
</div>
</div>
