<div class="row">
  <div class="span12">
    <footer class="footer">
      <div class="span2">
        <%= link_to image_tag("MOSH.gif", alt: "MOSH") %>
      </div>
      <div class="span4.5 pull-right">
        <small>
          See a bug? Email MOSH Admin: <%= mail_to 'mosh.system@gmail.com', 'mosh.system@gmail.com' %>
      </small>
    </div>
  </footer>
</div>
</div>
