<% if !current_user.noncsit %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-laptop"></i> Labs
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Lab Overview', "#" %></li>
      <li><%= link_to 'Inventory', inventory_index_path %></li>
      <li><%= link_to 'Imaging', "#" %></li>
      <li><%= link_to 'After Hours Access', "#" %></li>
    </ul>
  </li>
<% end %>
